body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(111,82,187,1) 100%);
}
.background-direction{
    background-color: white;
    height: 500px;
    width: 850px;
    text-align: center;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 320px;
    padding-top: 90px;
}

.image{
    height: 350px;
    position: absolute;
    top: 180px;
    left: 250px;
    
}
.image-1{
    position: absolute;
    top: 330px;
    left: 250px;
}

.question{
    margin-left: 400px;
}
button{
    border: none;
    background-color: white;
}

button:hover{
    color: #df5b35;
    border: none;
}

